@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Space+Grotesk:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0b0614;
  color: #efe9ff;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
  margin: 0;
}
